body {
  background-color: #44444E;
  color: #D3DAD9;
}

.container {
  width: 1200px;
  margin-inline: auto;
  padding: 0 0.75rem;
}

button {
  background-color: #715A5A;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s all ease;
}

button:hover {
  background-color: #b03052;
}

button:active {
  background-color: #d76c82;
}
